<div class="container">
    <div class="row">
        <div class="col">
            <form class="post-box" id="login">
                <h2>Login</h2>
                <div>
                    <label for="user-login" class="user">Username:</label>
                    <input type="text" id="user-login" />
                </div>
                <div>
                    <label for="password-login" class="user">Password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>