<div class="container">
    <div class="col">
        <form class="post-box" id="signup">
            <h2>Signup</h2>
            <div>
                <label for="username-signup" class="user">Username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup" class="user">Password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="btn">Signup</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/signup.js"></script>